@media (max-width: 600px) {
    .footer {
        padding: 2rem 1.5rem;
    }

    .footer-columns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem 3rem;
        padding-bottom: 2rem;
    }

    .footer-column h4 {
        font-size: 0.9rem;
    }

    .footer-column ul li {
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
    }
}